.form-container{
    /* transform: translateY(-1525px); */
    margin: 4rem 6rem;
    color: #2a2a2a;
}

.form-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

textarea{
    resize: none;
}

label{
    font-size: 1.1rem;
}

.form-container input{
    height: 3rem;
    padding: 0 1rem;
    font-size: 1rem;
    margin-bottom: 4rem;
    border-radius: .3rem;
    border: 1px solid #4fc5d2;
}
.form-container textarea{
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid #4fc5d2;
}

.form-container button{
    display: inline;
    width: 80%;
    height: 2rem;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form-container select{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 4rem;    
    font-size: 1rem;  
    border-radius: .3rem;
    border: 1px solid #4fc5d2;
}

.left-align{
    text-align: left;
    margin-bottom: 15px;
}

.contact-info{
    display: flex;
    margin: 4rem 6rem;
    
}

.contact-container{
    
}


@media screen and (max-width:855px){
    .form-container{
        margin: 4rem 2rem;
    }
    .form-container form{
        padding-top: 2rem;
        width: 90%;
    }
    
}