.member-section {
    height: fit-content;
    background-color: rgb((113, 77, 77)30, 119, 119);
    /* transform: translateY(-1583px); */
    /* width: 80vw; */
    /* display: block; */
    margin: 100px auto 0 auto;
    /* display: grid;
    grid-template-columns: repeat(3, auto); */
}

.breaker {
    height: 2px;
    width: 60vw;
    
    background-color: aqua;
    position: relative;
    display: block;
    margin: 30px auto 30px auto;
    align-items: center;
}

.team-name{
    font-size: 3rem;
}

.team-members{
    display: grid;
    width: 90vw;
    margin: 0 auto 0 auto;
    grid-template-columns: repeat(3, auto);
}

.member-service-carousel-rev {
    display: flex;
    height: 400px;
    margin-top: 100px;
}

.team{
    margin-top: 100px;
}

.member-carousel {
    display: flex;
    width: 450px;
    flex-direction: column;
    border: 2px solid aqua ;
    height: fit-content;
    background-color: rgb(230, 233, 233);
    margin: 100px auto 0 auto;
    border-radius: 50px;
    padding: 20px;
}


.member-image {
    width: 50%;
    margin: 0 auto 0 auto;
}

.member-description {
    width: 100%;
    vertical-align: middle;
    display: grid;
}

.member-description h2 {
    margin: 50px 0 0 0;

    text-align: left;
}

.member-description-rev h2 {
    margin: 50px 0 50px 0;
    text-align: left;
}

.member-description-rev {
    width: 50%;
    vertical-align: middle;
    display: grid;
    padding-left: 80px;
}

.member-rounded-image {
    border: solid 3px aqua;
    height: 400px;
    width: 400px;
    margin: auto;
    position: relative;
    top: 10%;
    border-radius: 50%;
    vertical-align: auto;
    overflow: hidden;
}

.member-content-link {
    border: solid 1px aqua;
    height: 100px;
    width: 100px;

    border-radius: 50%;
    vertical-align: auto;
}

.member-img-area {
    justify-content: center;
    height: 400px;
    width: 400px;
}

.member-para {
    vertical-align: middle;
    padding-right: 0px;
    display: table-cell;
    text-align: justify;
    width: 100%;
}

.member-para-rev {
    vertical-align: middle;
    padding-right: 0px;

    display: table-cell;
    text-align: justify;
}


@media screen and (max-width: 1200px) {
    .member-image {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* .team-members{
        display: grid;
        grid-template-columns: repeat(2, auto);
    } */
    .member-carousel-rev {
        display: flex;
        height: fit-content;
        flex-direction: column-reverse;
    }


    .member-carousel {
        display: flex;
        height: fit-content;
        flex-direction: column;
        /* height: 40px; */
    }


    .member-para {
        vertical-align: middle;
        padding-right: 0px;
        display: table-cell;
        text-align: center;
        width: 100%;
    }
    .member-para-rev {
        vertical-align: middle;
        padding-right: 0px;
        display: table-cell;
        text-align: center;
        width: 100%;
    }

    .member-description {
        width: 100%;
        vertical-align: middle;
        display: grid;
        margin: auto;
    }

    .member-description-rev {
        width: 100%;
        vertical-align: middle;
        display: grid;
        margin: auto;
    }

    .member-description h2 {
        margin: 50px 0 50px 0;
        text-align: center;
    }
}

@media screen and (min-width:0px){

.team-members{
    display: grid;
    width: 90vw;
    margin: 0 auto 0 auto;
    grid-template-columns: repeat(3, auto);
    
}

.member-rounded-image {
    border: solid 3px aqua;
    height: 200px;
    width: 200px;
    margin: auto;
    position: relative;
    top: 10%;
    border-radius: 50%;
    vertical-align: auto;
    overflow: hidden;
}
.member-img-area {
    justify-content: center;
    height: 200px;
    width: 200px;
}

}


@media screen and (max-width: 850px) {
    .member-carousel {
        display: flex;
        width: 90vw;
        flex-direction: column;
        border: 2px solid aqua ;
        height: fit-content;
        background-color: rgb(230, 233, 233);
        margin: 100px auto 0 auto;
        border-radius: 50px;
        padding: 20px;
    }
  }

@media screen and (max-width: 1300px){

    .team-members{
        display: grid;
        width: 90vw;
        margin: 0 auto 0 auto;
        grid-template-columns: repeat(2, auto);
    }
    }


@media screen and (max-width: 1072px){

    .team-members{
        display: grid;
        width: 90vw;
        margin: 0 auto 0 auto;
        grid-template-columns: repeat(1, auto);
    }
    .member-carousel {
        display: flex;
        width: 90vw;
        flex-direction: column;
        border: 2px solid aqua ;
        height: fit-content;
        background-color: rgb(230, 233, 233);
        margin: 100px auto 0 auto;
        border-radius: 50px;
        padding: 20px;
    }
    }