.faded-logo{
    display: relative;
    margin-top: 50px;
    z-index: -99;
    position: absolute;
    transform: translate(-34%);
    height: fit-content;
}

.faded-logo img{
    height: 75rem;
    width: 50rem;
    z-index: -999;
    opacity: 10%;
    
}